@model CompanyGroup.WebClient.Models.InvoiceInfoList

@{
    ViewBag.Title = "InvoiceInfo";
}

	<aside id="aside-first" class="aside-first group">
		<div class="zone zone-aside-first">
            <article class="widget-html-widget widget">
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/site_elements/camp-fair.jpg")" alt="" height="400" width="240" /></p>
                <p style="text-align:center"><img src="@Url.Content("~/Content/Media/Default/HtmlWidget/mogyoro.jpg")" alt="" height="400" width="240" /></p>
            </article>
        </div>
	</aside>
	<div id="layout-content" class="group">
        @*cms Messages
		<div id="messages">
			Messages
		</div>*@
        @*cms BeforeContent
		<div id="before-content">
			BeforeContent
		</div>*@
		<div id="preloader">
			loadnig...
		</div>
		<div id="content" class="group">
			<div class="zone zone-content">
                        Main content            
            </div>
		</div>
        @*cms AfterContent
		<div id="after-content">
			AfterContent
		</div>*@
	</div>
    @*cms AsideSecond
    <aside id="aside-second" class="aside-second">
		AsideSecond
	</aside>*@

@section ScriptFiles {
    head.js('@Scripts.Url("~/bundles/appconstants")');
}
@section ScriptOnReady {
    console.log('ScriptOnReady section');

    var model = @(Html.Raw(Json.Encode(Model)));
    console.log(model);

    $("#visitorInfoTemplate").tmpl(model.Visitor).appendTo("#cus_header1");

    $("#usermenuTemplate").tmpl(model.Visitor).appendTo("#usermenuContainer");

    $("#quickmenuTemplate").tmpl(model.Visitor).appendTo("#quickmenuContainer");
}
