<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false"/>    
  </configSections>
  <connectionStrings>
    <add name="WebDbConnectionString"
        connectionString="Data Source=AXDB\HRPAXDB;Initial Catalog=WebDb;User ID=InternetUser;Password=acetylsalicilum91"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=AXDB\HRPAXDB;Database=WebDb;User ID=InternetUser;Password=acetylsalicilum91;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <!--<property name="default_schema">WebDb.dbo</property>-->
      <!-- HBM Mapping Files -->
      <mapping assembly="Newsletter.Dto" />
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="SmtpMailServerName" value="195.30.7.32" />
    <add key="SmtpPort" value="24" />
    <!--exchange.hrp.hu, 213.16.78.18-->
    <!-- 195.30.7.17 -->
    <add key="MailFromNameHrp" value="HRP Hungary Kft." />
    <add key="MailFromNameBsc" value="BSC Kft." />
    <add key="MailFromNameSerbia" value="Hrp Serbia d.o.o." />
    <add key="MailFromAddressHrp" value="arlista@hrp.hu" />
    <add key="MailFromAddressBsc" value="arlista@bsc.hu" />
    <add key="MailFromAddressSerbia" value="newsletter@hrp.rs" />
    <add key="MailAdminNameHrp" value="HRP Árlista küldés" />
    <add key="MailAdminNameBsc" value="BSC Árlista küldés" />
    <add key="MailAdminNameSerbia" value="Hrp Serbia pricelist" />
    <add key="MailAdminAddressHrp" value="arlista@hrp.hu" />
    <add key="MailAdminAddressBsc" value="arlista@bsc.hu" />
    <add key="MailAdminAddressSerbia" value="newsletter@hrp.rs" />
    <add key="TestMailName" value="Juhász Attila" />
    <add key="TestMailAddress" value="ajuhasz@hrp.hu" />
    <add key="AppPath" value="c:\projects\2011\Notifications\NotificationSender" />
    <add key="LogFileName" value="c:\projects\2011\Notifications\NotificationSender\eventlog.txt" />
    <add key="HttpPath" value="http://www.hrp.hu/Articles/" />
    <add key="ArticlesPath" value="Articles" />
    <add key="AbsolutePathPrefix_Hrp" value="\\hrpinternet\ArticleSources\" />
    <add key="AbsolutePathPrefix_Bsc" value="\\hrpinternet\Bsc-Articles\" />
    <add key="AbsolutePathPrefix_Serbia" value="\\hrpinternet\SerbianArticles\" />
    <!--\\1Juhasza\Temp\-->
    <add key="ServiceUserName" value="srv1\InternetUser" />
    <add key="ServicePassword" value="user52" />
    <add key="NewsletterTimerInterval" value="120000" />
    <add key="TestMode" value="0" />
    <add key="TestModeMailAddress" value="pszabo@hrp.hu" />
    <add key="SendStrategy" value="1" />
    <add key="DelayBetweenSending" value="500" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--<bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxBufferSize="65536" maxBufferPoolSize="524288"
                 maxReceivedMessageSize="1073741824" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>-->
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Newsletter.ApplicationService.ServiceBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Newsletter.ApplicationService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--Service-->
      <service behaviorConfiguration="Newsletter.ApplicationService.ServiceBehavior" name="Newsletter.ApplicationService.Service">
        <endpoint address="" binding="webHttpBinding" contract="Newsletter.ApplicationService.IService" behaviorConfiguration="Newsletter.ApplicationService.ServiceBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
   <modules runAllManagedModulesForAllRequests="true">
   </modules>
   <validation validateIntegratedModeConfiguration="false"/>
   <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
