<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Hrp.Tiop.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <!--<bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxBufferSize="65536" maxBufferPoolSize="524288"
                 maxReceivedMessageSize="1073741824" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="CompanyGroup.GlobalServices.StructureBehavior">
          <webHttp/>
        </behavior>
        <behavior name="CompanyGroup.GlobalServices.ProductBehavior">
          <webHttp/>
        </behavior>
        <behavior name="CompanyGroup.GlobalServices.PictureBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CompanyGroup.GlobalServices.StructureBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="CompanyGroup.GlobalServices.ProductBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="CompanyGroup.GlobalServices.PictureBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--Structure-->
      <service behaviorConfiguration="CompanyGroup.GlobalServices.StructureBehavior" name="CompanyGroup.GlobalServices.StructureService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.GlobalServices.IStructureService" behaviorConfiguration="CompanyGroup.GlobalServices.StructureBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!--Product-->
      <service behaviorConfiguration="CompanyGroup.GlobalServices.ProductBehavior" name="CompanyGroup.GlobalServices.ProductService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.GlobalServices.IProductService" behaviorConfiguration="CompanyGroup.GlobalServices.ProductBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!-- Picture-->
      <service behaviorConfiguration="CompanyGroup.GlobalServices.PictureBehavior" name="CompanyGroup.GlobalServices.PictureService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.GlobalServices.IPictureService" behaviorConfiguration="CompanyGroup.GlobalServices.PictureBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <!-- -->
</configuration>