<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>HRP Hungary Kft. $EventName$ regisztráció</title>
    <style type="text/css"> body { font-size: 8pt; line-height: 150%; font-family: Verdana, Arial, Sans-Serif; background-color: #ffffff }
	td { font-size: 8pt; line-height: 150%; font-family: Verdana, Arial, Sans-Serif; background-color: #ffffff }
	hr { color: #2178e8; height: 1px }
	.Footer { font-size: 7pt }
		.style1
        {
            height: 12px;
        }
		</style>    
</head>
<body>
    <p>Regisztr&aacute;ci&oacute;j&aacute;t rendszer&uuml;nk r&ouml;gz&iacute;tette.</p>
    <p><br />
    </p>
    <table border="0" cellpadding="0" cellspacing="2" width="100%">
        <tr>
            <td colspan="2">Szeretettel várjuk $EventName$ rendezvényünkön!</td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
        </tr>                                
        <tr>
            <td>Helyszín:</td>
            <td>$Place$</td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
        </tr>                                
        <tr>
            <td>Név:</td>
            <td>$PersonName$</td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
        </tr>                                
        <tr>
            <td>Cégnév:</td>
            <td>$CompanyName$</td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
        </tr>    
        <tr>
            <td>Telefon:</td>
            <td>$Phone$</td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
        </tr>    
        <tr>
            <td>Email:</td>
            <td>$Email$</td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
        </tr>                                    
        <tr>
            <td class="style1">$Date$ $Time$</td>
            <td class="style1"></td>
            <td class="style1"></td>
        </tr>
        <tr>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
            <td style="height: 10px"></td>
        </tr>
        <tr>
            <td colspan="2">HRP Hungary Web adminsztrátor csoport</td>
            <td></td>
        </tr>       
    </table>
    <hr />
</body>
</html>
