<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
   -->
<configuration>
  <configSections>
    <section name="nhibernateSettings" type="CompanyGroup.Data.OpenSessionInViewSection, CompanyGroup.Data" />    
    <!--<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />-->
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />    
  </configSections>
  <connectionStrings>
    <add name="WebDbConnectionString" connectionString="Data Source=AXDB\HRPAXDB;Initial Catalog=WebDb_Test;User ID=InternetUser;Password=acetylsalicilum91;Application Name=CompanyGroup" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Failure Category">
    <listeners>
      <add name="Event Log Listener" 
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           source="Enterprise Library Logging" formatter="Text Formatter"
           log="" machineName="." traceOutputOptions="None" />
      <add name="Fail Custom Rolling Flat File Trace Listener" 
           type="CompanyGroup.TraceListeners.RollingFlatFileTraceListener, CompanyGroup.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           listenerDataType="CompanyGroup.TraceListeners.Configuration.RollingFlatFileTraceListenerData, CompanyGroup.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           fileName="App_Data\error\rolling.log" formatter="Text Formatter"
           rollSizeKB="1024" maxArchivedFiles="1" />
      <add name="Success Custom Rolling Flat File Trace Listener" 
           type="CompanyGroup.TraceListeners.RollingFlatFileTraceListener, CompanyGroup.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           listenerDataType="CompanyGroup.TraceListeners.Configuration.RollingFlatFileTraceListenerData, CompanyGroup.TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
           fileName="App_Data\logs\rolling.log" formatter="Text Formatter"
           rollSizeKB="1024" maxArchivedFiles="1" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
           name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Failure Category">
        <listeners>
          <add name="Fail Custom Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Success Category">
        <listeners>
          <add name="Success Custom Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>  
  <nhibernateSettings>
    <sessionFactories>
      <clearFactories />
      <sessionFactory name="ExtractInterface" factoryConfigPath="C:\Projects\2012\CompanyGroup.WebApi\ExtractInterface.config" isTransactional="false" />
      <sessionFactory name="WebInterface" factoryConfigPath="C:\Projects\2012\CompanyGroup.WebApi\WebInterface.config" isTransactional="false" />
      <sessionFactory name="LiveSystem" factoryConfigPath="C:\Projects\2012\CompanyGroup.WebApi\LiveSystem.config" isTransactional="false" />
    </sessionFactories>
  </nhibernateSettings>
  <!--<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=AXDB\HRPAXDB;Database=WebDb_Test;User ID=InternetUser;Password=acetylsalicilum91;</property>
      --><!-- AXDB\HRPAXDB --><!--
      <property name="connection.isolation">ReadCommitted</property>
      --><!--<property name="default_schema">WebDb.dbo</property>--><!--
      --><!-- HBM Mapping Files --><!--
      <mapping assembly="CompanyGroup.Domain" />
    </session-factory>
  </hibernate-configuration>-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MongoServerHost" value="srv1.hrp.hu" />
    <add key="MongoServerPort" value="27017" />
    <add key="MongoDatabaseName" value="CompanyGroup" />
    <add key="MongoCollectionName" value="ProductList" />
    <add key="PicturePhysicalPath" value="\\axos3\ProductPictures" />
    <add key="ProductListCollectionName" value="ProductList" />
    <add key="VisitorCollectionName" value="Visitor" />
    <add key="ShoppingCartCollectionName" value="ShoppingCart" />
    <add key="AuthCookieExpiredHours" value="24" />
    <add key="PdfHeaderJpg" value="c:\projects\2012\CompanyGroup.ServiceHost\Docs\header.jpg" />
    <add key="PdfPath" value="c:\projects\2012\CompanyGroup.ServiceHost\Docs\" />
    <add key="RegistrationTemplateFilePath" value="c:\projects\2012\CompanyGroup.WebApi\App_Data\Templates\" />
    <add key="RegistrationFilePath" value="c:\projects\2012\CompanyGroup.WebApi\App_Data\" />
    <add key="RegistrationTemplateFileName" value="registrationcontract.html" />
    <add key="PdfFolder" value="Docs\" />
    <add key="FontFile" value="c:\Windows\Fonts\calibri.ttf" />
    <add key="CryptorEngine.SecurityKey" value="hrpweb" />
    <add key="OfferingMailSubject" value="HRP Finance ajánlatkérés üzenet" />
    <add key="OfferingMailHtmlTemplateFile" value="offering.html" />
    <add key="OfferingMailTextTemplateFile" value="offering.txt" />
    <add key="OfferingMailToAddress" value="jverebelyi@hrp.hu" />
    <!-- berlet@hrpfinance.hu-->
    <add key="OfferingMailToName" value="HRP Finance" />
    <add key="OfferingMailSmtpHost" value="195.30.7.14" />
    <add key="StructureCacheEnabled" value="false" />
    <add key="CatalogueCacheEnabled" value="false" />
    <add key="PictureCacheEnabled" value="true" />
    <add key="ProductComplationLimit" value="15" />
    <add key="NewsletterListLimit" value="10" />
    <add key="ChangePasswordMailSubject" value="Jelszó módosítás értesítő üzenet" />
    <add key="ChangePasswordMailHtmlTemplateFile" value="changepassword.html" />
    <add key="ChangePasswordMailTextTemplateFile" value="changepassword.txt" />
    <add key="ChangePasswordMailFromAddress" value="webadmin@hrp.hu" />
    <add key="ChangePasswordMailFromName" value="HRP-BSC web adminisztrátor csoport" />
    <add key="ChangePasswordMailBCcAddress" value="ajuhasz@hrp.hu" />
    <add key="ChangePasswordMailBCcName" value="Juhász Attila" />
    <add key="ChangePasswordMailSmtpHost" value="195.30.7.14" />
    <add key="UndoChangePasswordUrl" value="http://1juhasza/cms/PartnerInfo/UndoChangePassword/{0}/{1}/" />
    <add key="TestMode" value="false" />
    <add key="EventRegistrationMailSubject" value="Eseményregisztráció értesítő üzenet" />
    <add key="EventRegistrationMailHtmlTemplateFile" value="App_Data/Templates/eventregister.html" />
    <add key="EventRegistrationMailTextTemplateFile" value="App_Data/Templates/eventregister.txt" />
    <add key="EventRegistrationMailFromAddress" value="webadmin@hrp.hu" />
    <add key="EventRegistrationMailFromName" value="HRP-BSC web adminisztrátor csoport" />
    <add key="EventRegistrationMailBCcAddress" value="ajuhasz@hrp.hu" />
    <add key="EventRegistrationMailBCcName" value="Juhász Attila" />
    <add key="EventRegistrationMailSmtpHost" value="195.30.7.14" />       
    <add key="UserName" value="juhasza" />
    <add key="Password" value="juha" />
    <add key="Domain" value="hrp.hu" />
    <add key="Language" value="en-gb" />
    <add key="ObjectServer" value="AXOS1@AXOS1:2713" /> <!--AXOS3@AXOS3:2799-->
    <add key="ExtractInterfaceSessionFactoryConfigPath" value="C:\Projects\2012\CompanyGroup.WebApi\ExtractInterface.config" />
    <add key="WebInterfaceSessionFactoryConfigPath" value="C:\Projects\2012\CompanyGroup.WebApi\WebInterface.config" />
    <add key="LiveSystemSessionFactoryConfigPath" value="C:\Projects\2012\CompanyGroup.WebApi\LiveSystem.config" />
    <add key="OrderServiceClassName" value="SalesOrderServiceWeb" />
    <add key="SecondhandOrderServiceClassName" value="SecondhandOrderService" />
    <add key="ChangePasswordServiceClassName" value="ContactPersonService" />
    <add key="RegistrationServiceClassName" value="CustomerService" />
    <add key="ForgetPasswordServiceClassName" value="ContactPersonService" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>