<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Álláshirdetés jelentkezés értesítő üzenet</title>
    <style type="text/css">
        .style1
        {
            width: 500px;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h3>Tisztelt Hrp Hungary Carrier!</h3>
    <table cellpadding="2" cellspacing="2" class="style1">
        <tr>
            <td colspan="3"><br/></td>
        </tr>
        <tr>
            <td colspan="3">Üzent érkezett HRP.hu / BSC.hu weboldalról álláshirdetés jelentkezés témakörben, az alábbi adattartalommal:</td>
        </tr>
        <tr>
            <td>Pozíció: azonosító:</td>
            <td>$Position$</td>
            <td></td>
        </tr>
        <tr>
            <td>Vezetéknév:</td>
            <td>$FirstName$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Keresztnév:</td>
            <td>$LastName$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Születési hely: </td>
            <td>$PlaceOfBirth$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>                        	
        <tr>
            <td>Születési idő:</td>
            <td>$DayfBirth$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Állandó lakcím:</td>
            <td>$PermanentAddress$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Ideiglenes lakcím: </td>
            <td>$TemporaryAddress$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td>$Phone$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>$Email$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Megjegyzés:</td>
            <td>$Message$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Csatolt file: </td>
            <td>$UploadFileName$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Hozzájárulás a referenciák leellenörzésére:</td>
            <td>$CheckReference$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td>Küldés időpontja:</td>
            <td>$SentDate$</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="3">WEB adminisztrátor csoport</td>
        </tr>
    </table>
</body>
</html>
	
	
		
		
		
	
		
		
		

		
		
		
	
	
	
		
		
