<?xml version="1.0"?>
<configuration>
  <!--<configSections>
    <section name="hibernate-configuration"
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>-->
  <configSections>
    <section name="nhibernateSettings" type="CompanyGroup.Data.OpenSessionInViewSection, CompanyGroup.Data" />
  </configSections>
  <connectionStrings>
    <add name="WebDbConnectionString"
        connectionString="Data Source=AXDB\HRPAXDB;Initial Catalog=WebDb_Test;User ID=InternetUser;Password=acetylsalicilum91"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nhibernateSettings>
    <!-- List every session factory that will be needed; 
             transaction management and closing sessions 
        will be managed with an open-session-in-view HTTP module -->
    <sessionFactories>
      <clearFactories />
      <sessionFactory name="ExtractInterface" factoryConfigPath="C:\Projects\2012\CompanyGroup.Data.Test\ExtractInterface.config" isTransactional="true" />
      <sessionFactory name="WebInterface" factoryConfigPath="C:\Projects\2012\CompanyGroup.Data.Test\WebInterface.config" />
      <sessionFactory name="LiveSystem" factoryConfigPath="C:\Projects\2012\CompanyGroup.Data.Test\LiveSystem.config" />
    </sessionFactories>
  </nhibernateSettings>
  <appSettings>
    <add key="MongoServerHost" value="srv1.hrp.hu" />
    <add key="MongoServerPort" value="27017" />
    <add key="MongoDatabaseName" value="CompanyGroup" />
    <add key="MongoCollectionName " value="ProductList" />
    <add key="ServiceBaseUrl" value="http://1Juhasza/CompanyGroup.ServicesHost/{0}.svc/" />
    <add key="DataAreaId" value="hrp" />
    <add key="ProductListCollectionName" value="ProductList" />
    <add key="VisitorCollectionName" value="Visitor" />
    <add key="ShoppingCartCollectionName" value="ShoppingCart" />
    <add key="AuthCookieExpiredHours" value="3" />
    <add key="ExtractInterfaceSessionFactoryConfigPath" value="C:\Projects\2012\CompanyGroup.Data.Test\ExtractInterface.config" />
    <add key="WebInterfaceSessionFactoryConfigPath" value="C:\Projects\2012\CompanyGroup.Data.Test\WebInterface.config" />
    <add key="LiveSystemSessionFactoryConfigPath" value="C:\Projects\2012\CompanyGroup.Data.Test\LiveSystem.config" />
  </appSettings>
</configuration>
