<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="ExtractInterface">
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=AXDB\HRPAXDB;Database=ExtractInterface;User ID=InternetUser;Password=acetylsalicilum91;</property>
    <property name="connection.isolation">ReadCommitted</property>
    <!--<property name="default_schema">WebDb.dbo</property>-->
    <!-- Assembly containing the embedded HBM mapping files -->
    <mapping assembly="CompanyGroup.Domain" />
  </session-factory>
</hibernate-configuration>