<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="AxSyncQueueName" value=".\AxSync" />  FormatName:Direct=TCP:195.30.7.65\axsync @"FormatName:DIRECT=OS:mymachine\MyQueueQueue"-->
    <add key="AxSyncQueueName" value="FormatName:DIRECT=OS:srv2\AxSync"/>
    <add key="WebApiBaseAddress" value="http://1Juhasza/CompanyGroup.WebApi/api/"/>
  </appSettings>
  <connectionStrings>
    <add name="Shared.Web.DataAccess.Properties.Settings.WebDbConnectionString" connectionString="Data Source=AXDS\HRPAXDB;Initial Catalog=WebDb;User ID=InternetUser;Password=acetylsalicilum91" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
