<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="SqlDbEntities" connectionString="metadata=res://*/SqlServer.SqlDb.csdl|res://*/SqlServer.SqlDb.ssdl|res://*/SqlServer.SqlDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXDS\HRPAXDB;initial catalog=WebDb;persist security info=True;user id=InternetUser;password=acetylsalicilum91;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Entities" connectionString="metadata=res://*/SqlServer.Db.csdl|res://*/SqlServer.Db.ssdl|res://*/SqlServer.Db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AXDS\HRPAXDB;initial catalog=WebDb;persist security info=True;user id=InternetUser;password=acetylsalicilum91;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>