<a rel="galeria" href="~/Content/Media/images/company/3_lg.jpg"><img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/company/3.jpg")" alt="" />
</a>
<strong>Ügyféltér</strong><p>
<a rel="galeria" href="~/Content/Media/images/company/4_lg.jpg"><img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/company/4.jpg")" alt="" /></a>
<strong>Raktár</strong><p>
<a rel="galeria" href="~/Content/Media/images/company/1_lg.jpg"><img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/company/1.jpg")" alt="" /></a>
<strong>Huszti út 34. (bejárat)</strong><p>
<a rel="galeria" href="~/Content/Media/images/company/2_lg.jpg"><img style="max-width:240px"  src="@Url.Content("~/Content/Media/images/company/2.jpg")" alt="" /></a>
<strong>Ügyfélfogadó bejárat</strong><p>