<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false"/>    
  </configSections>
  <connectionStrings>
    <add name="WebDbConnectionString"
        connectionString="Data Source=AXDB\HRPAXDB;Initial Catalog=WebDb_Test;User ID=InternetUser;Password=acetylsalicilum91"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=AXDB\HRPAXDB;Database=WebDb_Test;User ID=InternetUser;Password=acetylsalicilum91;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <!--<property name="default_schema">WebDb.dbo</property>-->
      <!-- HBM Mapping Files -->
      <mapping assembly="CompanyGroup.Domain" />
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="MongoServerHost" value="srv1.hrp.hu" />
    <add key="MongoServerPort" value="27017" />
    <add key="MongoDatabaseName" value="CompanyGroup" />
    <add key="MongoCollectionName" value="ProductList" />
    <add key="PicturePhysicalPath" value="\\axos3\ProductPictures" />
    <add key="ProductListCollectionName" value="ProductList" />
    <add key="VisitorCollectionName" value="Visitor" />
    <add key="ShoppingCartCollectionName" value="ShoppingCart" />
    <add key="AuthCookieExpiredHours" value="24" />
    <add key="PdfHeaderJpg" value="c:\projects\2012\CompanyGroup.ServiceHost\Docs\header.jpg"/>
    <add key="PdfPath" value="c:\projects\2012\CompanyGroup.ServiceHost\Docs\"/>
    <add key="PdfFolder" value="Docs\"/>
    <add key="FontFile" value="c:\Windows\Fonts\calibri.ttf"/>
    <add key="CryptorEngine.SecurityKey" value="hrpweb"/>
    <add key="OfferingMailSubject" value="HRP Finance ajánlatkérés üzenet"/>
    <add key="OfferingMailHtmlTemplateFile" value="offering.html"/>
    <add key="OfferingMailTextTemplateFile" value="offering.txt"/>
    <add key="OfferingMailToAddress" value="jverebelyi@hrp.hu"/>
    <!-- berlet@hrpfinance.hu-->
    <add key="OfferingMailToName" value="HRP Finance"/>
    <add key="OfferingMailSmtpHost" value="195.30.7.14"/>
    <add key="StructureCacheEnabled" value="true" />
    <add key="CatalogueCacheEnabled" value="false" />
    <add key="ProductComplationLimit" value="15"/>
    <add key="NewsletterListLimit" value="150"/>
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--<bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding" maxBufferSize="65536" maxBufferPoolSize="524288"
                 maxReceivedMessageSize="1073741824" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>-->
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.CustomerBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.SalesOrderBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.VisitorBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.ContactPersonBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.StructureBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.ProductBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.MaintainModule.ProductBehavior">
          <webHttp helpEnabled="true" />
        </behavior>        
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.PictureBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.ShoppingCartBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.RegistrationModule.RegistrationBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.NewsletterBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.CustomerBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.SalesOrderBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>        
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.VisitorBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.PartnerModule.ContactPersonBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>        
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.StructureBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.ProductBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.MaintainModule.ProductBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.PictureBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.ShoppingCartBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.RegistrationModule.RegistrationBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CompanyGroup.ApplicationServices.WebshopModule.NewsletterBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>        
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--Customer-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.CustomerBehavior" name="CompanyGroup.ApplicationServices.PartnerModule.CustomerService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.PartnerModule.ICustomerService" behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.CustomerBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--SalesOrder-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.SalesOrderBehavior" name="CompanyGroup.ApplicationServices.PartnerModule.SalesOrderService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.PartnerModule.ISalesOrderService" behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.SalesOrderBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>      
      <!--Visitor-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.VisitorBehavior" name="CompanyGroup.ApplicationServices.PartnerModule.VisitorService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.PartnerModule.IVisitorService" behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.VisitorBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- ContactPerson -->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.ContactPersonBehavior" name="CompanyGroup.ApplicationServices.PartnerModule.ContactPersonService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.PartnerModule.IContactPersonService" behaviorConfiguration="CompanyGroup.ApplicationServices.PartnerModule.ContactPersonBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>      
      <!--Structure-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.StructureBehavior" name="CompanyGroup.ApplicationServices.WebshopModule.StructureService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.WebshopModule.IStructureService" behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.StructureBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>        
        <!--Product-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.ProductBehavior" name="CompanyGroup.ApplicationServices.WebshopModule.ProductService">
          <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.WebshopModule.IProductService" behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.ProductBehavior">
          </endpoint>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--MaintainModule-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.MaintainModule.ProductBehavior" name="CompanyGroup.ApplicationServices.MaintainModule.ProductService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.MaintainModule.IProductService" behaviorConfiguration="CompanyGroup.ApplicationServices.MaintainModule.ProductBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>      
      <!-- Picture-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.PictureBehavior" name="CompanyGroup.ApplicationServices.WebshopModule.PictureService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.WebshopModule.IPictureService" behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.PictureBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- ShoppingCart-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.ShoppingCartBehavior" name="CompanyGroup.ApplicationServices.WebshopModule.ShoppingCartService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.WebshopModule.IShoppingCartService" behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.ShoppingCartBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!--Registration-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.RegistrationModule.RegistrationBehavior" name="CompanyGroup.ApplicationServices.RegistrationModule.RegistrationService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.RegistrationModule.IRegistrationService" behaviorConfiguration="CompanyGroup.ApplicationServices.RegistrationModule.RegistrationBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- Newsletter-->
      <service behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.NewsletterBehavior" name="CompanyGroup.ApplicationServices.WebshopModule.NewsletterService">
        <endpoint address="" binding="webHttpBinding" contract="CompanyGroup.ApplicationServices.WebshopModule.INewsletterService" behaviorConfiguration="CompanyGroup.ApplicationServices.WebshopModule.NewsletterBehavior">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>      
    </services>
  </system.serviceModel>
 <system.webServer>
   <modules runAllManagedModulesForAllRequests="true">
     <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
   </modules>
   <validation validateIntegratedModeConfiguration="false"/>
   <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
