<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration"
             type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <connectionStrings>
    <add name="WebDbConnectionString"
        connectionString="Data Source=AXDS\HRPAXDB;Initial Catalog=WebDb_Test;User ID=InternetUser;Password=acetylsalicilum91"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=AXDS\HRPAXDB;Database=WebDb_Test;User ID=InternetUser;Password=acetylsalicilum91;</property>
      <property name="connection.isolation">ReadCommitted</property>
      <!--<property name="default_schema">WebDb.dbo</property>-->
      <!-- HBM Mapping Files -->
      <mapping assembly="CompanyGroup.Domain" />
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="MongoServerHost" value="axeps.hrp.hu" />
    <add key="MongoServerPort" value="27017" />
    <add key="MongoDatabaseName" value="CompanyGroup" />
    <add key="MongoCollectionName " value="ProductList" />
    <add key="PicturePhysicalPath " value="\\axos3\ProductPictures" />
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="NewBinding" openTimeout="00:05:00" allowCookies="true"
          transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>  
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>

