<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MSTSCryptoServiceProvider -->
    <add key="WSURL" value="http://ws.medismart.hu/MS.TimeStamp.WS/service.asmx" />
    <!-- 
    <add key="proxyHost" value="servername" />
    <add key="proxyPort" value="8080 or something similar" />
    <add key="proxyUser" value="username"/>
    <add key="proxyPassword" value="password"/>
    -->
  </appSettings>
</configuration>
